#photos {
  width: 90%;
  max-width: 80vw;
  margin: auto;
  padding: 0 0 2rem 0;
}

.photo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nothing-found{
  text-align: center;
  font-size: 3vw;
}
