main {
  padding-top: 3.5rem;
  background-image: linear-gradient(to right, #f83d3d , #00bbb2);
}

.my-loader {
  text-align: center;
  font-size: 5vw;
}

.nothing-found{
  text-align: center;
  font-size: 3vw;
}
